.card {
  &__image {
    height: 320px;
    margin-bottom: 40px;
  }

  &__word {
    margin-bottom: 0;
    text-align: center;
  }

  &__translation {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__transcription {
    display: block;
    text-align: center;
  }

  &__edit {
    .transition(opacity .2s);
    width: 20px;
    margin-left: 5px;
    margin-right: -25px;
    vertical-align: middle;
    color: @brand-primary;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
  }

  &__word:hover &__edit,
  &__translation:hover &__edit,
  &__transcription:hover &__edit {
    opacity: 1;
  }

  &__input {
    margin: 0;
    padding: 0;
    text-align: center;
    outline: none;
  }

  &__transcriptions {
    position: relative;
    background: @gray-lighter;
    padding: 20px;
  }

  &__title {
    display: block;
    margin-bottom: 5px;
  }

  table {
    margin-bottom: 10px;
    width: 100%;
  }
  td:first-child {
    width: 10px;
  }
  td:last-child {
    width: 10px;
  }

  &__close {
    position: absolute;
    color: @brand-primary;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    right: 20px;
    top: 20px;
  }

  &__btn-save,
  &__btn-record {
    margin-right: 5px;
  }
}