<%
  locals.page_title = 'Board page title';
  locals.page_descr = 'Board page description';
  locals.js  = ['board/board.js'];
  locals.css = ['board/board.css'];
-%>
<% include ../layout_head.ejs %>
<main id="app"></main>
<% include ../layout_foot.ejs %>