<%
  locals.page_title = 'Index page title';
  locals.page_descr = 'Index page description';
  locals.js  = ['sign/sign.js'];
  locals.css = ['sign/sign.css'];
-%>
<% include ../layout_head.ejs %>
<main id="app"></main>
<% include ../layout_foot.ejs %>