<%
  locals.page_title = 'Signup/Login page title';
  locals.page_descr = 'Signup/Login page description';
  locals.js  = ['sign/sign.js'];
  locals.css = ['sign/sign.css'];
-%>
<% include ../layout_head.ejs %>
<main id="app"><%- body %></main>
<% include ../layout_foot.ejs %>