.details {
  overflow: hidden;
  padding: 10px;
  margin-bottom: 0;
  background: @gray-lighter;

  &__section {
    padding: 9px;
    border: 1px solid @gray-lighter;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      border-color: #fff;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__content {
    margin-top: 2px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__list {
    margin-bottom: 0;
  }
}