.vocab {
  &__head,
  &__list,
  &__group {
    margin-bottom: 0;
  }

  &__group {
    font-size: 13px;
    color: #777;
  }
  
  &__head td,
  &__list td {
    vertical-align: middle !important;
  }

  &__head td:nth-child(1),
  &__list td:nth-child(1),
  &__list td:nth-child(3) {
    text-align: center;
  }

  &__head td:nth-child(3) {
    text-align: right;
  }

  &__filters {
    margin-right: 10px;
  }

  &__filter {
    min-width: 70px;
  }

  &__word {
    color: @brand-primary;
  }

  &__play {
    margin-right: 10px;
    color: @brand-primary;
  }

  &__learn,
  &__learned {
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
    color: #777;

    &:hover {
      color: #333;
    }
  }
}